# MongoDB Connection String (e.g., mongodb+srv://<user>:<password>@cluster.mongodb.net/<db>)
MONGODB_URI=


# Authentication Secrets
JWT_SECRET=
JWT_EXPIRE=
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Application Passcodes
STAGE_PASSCODE=